<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--20240302 Ly: 新增Debug调试模式, 为true时, 则跳过60秒及启用部分日志功能-->
		<add key="IsDebugMode" value="true"/>
		<!--20240302 Ly: 新增打印调试模式, 为true时, 则打印面单时, 不调用report.Print真实打印, 而是调用report.Design-->
		<add key="IsDebugPrint" value="false"/>
		<add key="IsRandomWeight" value="false"/>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
</configuration>
