<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--本服务器要处理的IP-->
		<add key="handip" value="172.16.2.150" />
		<!--本服务器要处理的MAC 要与IP 对应-->
		<add key="handmac" value="94C691F3D450" />
		<!--本机是否有删除图片的权限,如果IP不是172.16.2.240 即便为是也无效-->
		<add key="handMain" value="是" />
		<!--顺丰打印机-->
		<add key="GetShunfPrinterName" value="\\172.16.2.150\BTP-L540H(BPLZ)(U)1" />
		<!--邮政打印机-->
		<add key="GetEmsYouzPrinterName" value="\\172.16.2.150\DASCOM DL-100" />
		<!--随货通行打印机-->
		<add key="GetSHTXPrinterName" value="\\172.16.2.150\Epson LQ-1600K" />
		<!--京东物流打印机-->
		<add key="GetJingDongPrinterName" value="\\172.16.2.150\Deli DL-888B" />
		<!--中通快递打印机-->
		<add key="GetZhongTongPrinterName" value="\\172.16.2.150\HPRT N31C" />
		<!--申通快递打印机-->
		<add key="GetShenTongPrinterName" value="\\172.16.2.150\Xprinter XP-420B" />
		<!--合同,批件,路单药检,A4打印机打印机-->
		<!--<add key="GetHeTongPrinterName" value="Canon iR-ADV 4225/4235 UFR II" />-->
		<add key="GetHeTongPrinterName" value="\\172.16.2.150\3065" />
		<!--药检封面打印机-->
		<!--<add key="GetFmPrinterName" value="Canon iR-ADV 4225/4235 UFR II" />-->
		<add key="GetFmPrinterName" value="\\172.16.2.150\3065" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>