<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	    <!--20240302 Ly: 新增Debug调试模式, 为true时, 则跳过60秒及启用部分日志功能-->
		<add key="IsDebugMode" value="false"/>
		<!--20240302 Ly: 新增打印调试模式, 为true时, 则打印面单时, 不调用report.Print真实打印, 而是调用report.Design-->		
		<add key="IsDebugPrint" value="false"/>
		<!--本服务器要处理的IP-->
		<!--172.16.7.46 : 74563C160537-->
		<!--172.16.7.50 : 244BFE0360A7-->
		<add key="handip" value="172.16.2.187" />
		<!--本服务器要处理的MAC 要与IP 对应-->
		<add key="handmac" value="94C69152D0C1" />
		<!--本机是否有删除图片的权限,如果IP不是172.16.2.240 即便为是也无效-->
		<add key="handMain" value="否" />
		<!--顺丰打印机-->
		<add key="GetShunfPrinterName" value="\\172.16.2.187\BTP-L640B(BPLZ)(U)7" />
		<!--邮政打印机-->
		<add key="GetEmsYouzPrinterName" value="\\172.16.2.187\BTP-K910(BPLZ)(U)1" />
		<!--随货通行打印机-->
		<add key="GetSHTXPrinterName" value="\\172.16.2.187\Epson LQ-1600K" />
		<!--京东物流打印机-->
		<add key="GetJingDongPrinterName" value="\\172.16.2.187\ST-HPRT N31C" />
		<!--中通快递打印机-->
		<add key="GetZhongTongPrinterName" value="\\172.16.2.187\Xprinter XP-420B" />
		<!--申通快递打印机-->
		<add key="GetShenTongPrinterName" value="\\172.16.2.187\Xprinter XP-420B" />
		<!--合同,批件,路单药检,A4打印机打印机-->
		<add key="GetHeTongPrinterName" value="DocuCentre-IV 3065" />
		<!--药检封面打印机-->
		<add key="GetFmPrinterName" value="DocuCentre-IV 3065" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>