<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--20240302 Ly: 新增Debug调试模式, 为true时, 则跳过60秒及启用部分日志功能-->
		<add key="IsDebugMode" value="true"/>
		<!--20240302 Ly: 新增打印调试模式, 为true时, 则打印面单时, 不调用report.Print真实打印, 而是调用report.Design-->		
		<add key="IsDebugPrint" value="false"/>
		<!--本服务器要处理的IP-->
		<!--172.16.7.46 : 74563C160537-->
		<!--172.16.7.50 : 244BFE0360A7-->
		<add key="handip" value="172.16.7.50" />
		<!--本服务器要处理的MAC 要与IP 对应-->
		<add key="handmac" value="244BFE0360A7" />
		<!--本机是否有删除图片的权限,如果IP不是172.16.2.240 即便为是也无效-->
		<add key="handMain" value="否" />
		<!--顺丰打印机-->
		<add key="GetShunfPrinterName" value="Microsoft XPS Document Writer" />
		<!--邮政打印机-->
		<add key="GetEmsYouzPrinterName" value="Microsoft XPS Document Writer" />
		<!--随货通行打印机-->
		<add key="GetSHTXPrinterName" value="Microsoft XPS Document Writer" />
		<!--京东物流打印机-->
		<add key="GetJingDongPrinterName" value="Microsoft XPS Document Writer" />
		<!--中通快递打印机-->
		<add key="GetZhongTongPrinterName" value="Microsoft XPS Document Writer" />
		<!--申通快递打印机-->
		<add key="GetShenTongPrinterName" value="Microsoft XPS Document Writer" />
		<!--合同,批件,路单药检,A4打印机打印机-->
		<add key="GetHeTongPrinterName" value="Microsoft XPS Document Writer" />
		<!--药检封面打印机-->
		<add key="GetFmPrinterName" value="Microsoft XPS Document Writer" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>